/*font family we are using from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f7f5f4;
}
/*------------------------------------------------ Navigation bar */
/*logo*/
.responsive-image {
    border-radius: 50%;
}

.navbar {
    background-color: #E39A79;
    border: 0;
    font-size: larger !important;
    letter-spacing: 0.1em;
    opacity: 0.9;
    min-height: 90px;
    padding-right: 15px;
    overflow-x: hidden
}

.navbar {
    background-color: #E39A79;
    border: 0;
    font-size: larger !important;
    letter-spacing: 0.1em;
    opacity: 0.9;
    min-height: 90px;
    padding-right: 15px;
    overflow-x: hidden
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
    margin-top: 1px;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #fff !important;

}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;

}

.navbar-collapse {
    margin-top: 27px;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

/*------------------------------------------------Landing page image*/
#heading-title {
    text-align: center;
    padding: 165px 0 0 0;
    margin-top: 90px;
    width: 100%;
    height: 75vh;
    background: url('/assets/images/read-papaya.jpeg');
    background-size: cover;
}

#heading-title>h1 {
    font-size: 5.5rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 6px;
    margin-bottom: 50px;
    color: #fafafa;
}

/*------------------------------------------------ button that leads to join page*/
.btn {
    color: #FFF;
    border: 2px solid #D97B59;
    margin-top: 20px;
    ;
    border-radius: 0px;
    padding: 18px 50px;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D97B59;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-decoration: none;
}

.btn-join:hover {
    box-shadow: inset 400px 0 0 0 #D97B59;
}

/*--------------------------------------- About section*/
